.DS_Store
data/fgd/.DS_Store
data/fgd/recordings/.DS_Store
papers/adoption_gaps_paper/.Rhistory
papers/adoption_gaps_paper/Emmas_paper.lyx~
papers/adoption_gaps_paper/adoption_gaps_paper-lyxformat-620.lyx~
data/fgd/recordings/felicia/MUGGI.mp3
data/fgd/recordings/oboth/nalwegoloire_Namalemba.aac
papers/adoption_gaps_paper/#Emmas_paper.lyx#
papers/adoption_gaps_paper/Emmas_paper-lyxformat-620.lyx~
